body{
    background-color: #fdfbfb;
}

.fluid{
    width: 50%;
    height: 60%;
    margin-left: 30%;
    margin-right:30%;
    /* align-items: center;
    justify-content: center;
    display: flex; */
}

.dropdown-menu{
    margin-right: 25%;
}
.text-title{
    text-align: center;
    
    align-items: center;
    font-size:57px;
}
.para{
    text-align: center;
    align-items: center;
    font-size: x-large;
    font-style: italic;
}
.list-element{
    margin-right: 75px!important;
}
.text-center{
    padding-left:10px ;
}
.element-student{
    margin-right: 57px!important;
}


 @media screen and (max-width: 700px){
     
    
    .fluid{
        width : 58%;
        height: 65%; 
        /* margin-right: 12%; */

    }
    .text-title{
        font-size: 45px;
    }
    .para{
        font-size: large;
    }
} 
@media screen and (max-width: 400px){

    .fluid{
        width : 50%;
        height: 65%;
        /* margin-right: 30%;
        margin-left: 30%; */
       /* align-items: center;
       justify-content: center;
       display: flex; */

      

    }
    .text-title{
        font-size: 195%;
    }
    .para{
        font-size: large;
    }
}




